.plugin {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  &_tape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    overflow-x: scroll;

    &__item {
      width: 240px;
      height: 135px;
      max-width: 240px;
      max-height: 135px;
      overflow: hidden;
      background-image: url("../images/folder.png");
      background-size: 182px 141px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__image {
      max-width: 240px;
      max-height: 135px;

    }
  }

  &_view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
}

.view {
  &_wrapper {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;

  }

  &_image {
    width: 975px;
    height: 572px;
  }

  &_image__wrapper {
    width: 975px;
    height: 575px;
  }

  &_arrow {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    margin: 0 auto;
  }
}

.tape {

  &_item {
    max-width: 240px;
    max-height: 135px;
    background-image: url("../images/folder.png");

    &__name {
      font-size: 15px;
      text-align: center;
      margin: 50px 52px 13px 57px;
      word-break: break-all;
      overflow: hidden;
    }
  }
}

.left {
  border-left: 7px solid black;
  border-bottom: 7px solid black;
}

.right {
  border-right: 7px solid black;
  border-top: 7px solid black;
}